# ----------------------
# DATA (NEVER COMMIT)
# ----------------------
data/
logs/
models/*.joblib

# ----------------------
# CACHE / TEMP
# ----------------------
__pycache__/
*.pyc
*.parquet
*.csv

# ----------------------
# OS / ENV
# ----------------------
.DS_Store
Thumbs.db
.env
pipelines/equity/delete_last_equity_entry.py
pipelines/futures/*_once.py
